mixin footer()
	#remoteModal1.modal.fade.modalToClose(role="dialog" data-backdrop="static" data-keyboard="false")
	#remoteModal2.modal.fade.modalToClose(role="dialog" style="z-index: 99999; background: rgba(1,1,1,.5);")

	script(src='/plugins/jquery/jquery.min.js')
	script(src='/plugins/popper/popper.min.js')
	script(src='/plugins/bootstrap/js/bootstrap.min.js')
	script(src='/plugins/slimScroll/jquery.slimscroll.js')
	script(src='/plugins/waves/waves.js')
	script(src='/js/sidebarmenu.js')
	script(src='/plugins/sticky-kit-master/dist/sticky-kit.min.js')
	script(src='/plugins/toastr/toastr.min.js')
	script(src="/plugins/moment/min/moment.min.js")
	script(src="/plugins/moment-timezone/builds/moment-timezone-with-data.min.js")
	script(src="/plugins/daterangepicker/daterangepicker.js")
	script(src="/plugins/jquery-validation/jquery.validate.min.js")
	script(src="/plugins/jquery-validation/additional-methods.min.js")
	script(src='/plugins/pace/pace.min.js')
	script(src="/plugins/bootstrap/eModal.min.js")
	script(src='/js/theme.js')
	script(src='/js/scripts.js')
	each script in __pageScript
		each js in script.js
			script(src=js)