mixin header
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui")
		meta(name="description" content="Developer:alkami778@gmail.com")
		meta(name="keywords" content="medilab")
		link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
		meta(name="author" content="alkami")
		title #{title ? title + process.env.APP_NAME : process.env.APP_NAME}
		link(rel="shortcut icon", type="image/x-icon", href="/images/icon/ebs.svg")
		link(href='/plugins/bootstrap/css/bootstrap.min.css', rel="stylesheet")
		link(href='/plugins/toastr/toastr.min.css', rel="stylesheet")
		link(href='/plugins/pace/pace.css', rel='stylesheet')
		link(href='/css/common.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		link(href='/css/app.css', rel='stylesheet')
		link(href='/css/icons/fontawesome/css/all.css', rel='stylesheet')
		link(href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet")
		script(src='/plugins/jquery/jquery.min.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="https://code.jquery.com/ui/1.9.2/jquery-ui.js")


		//pageCss
		script.
			var notifications = !{JSON.stringify(notifications ? notifications : [])};
