-
    var $SESSION = __SESSION
doctype html
html(lang='en')
    include header
    +header
    body
        include ../navbar
        +navbar
    .footer-line.text-center
        | &copy; !{new Date().getFullYear()} Medilab+ Clinic by &nbsp;
        a.btn-link(target='__blank' href='#') rumman
    include footer
    +footer