-
    var $SESSION=__SESSION
doctype html
html(lang='en')
    include header
    +header
    body
        include ../navbar
        +navbar
        .footer-line
            | &copy; !{new Date().getFullYear()} Medilab+ Clinic by&nbsp;
            a(target='__blank' href='#') rumman
        include footer
        +footer