mixin navbar
	.wrapper
		// Sidebar
		nav#sidebar
			.sidebar-header
				h3 Medilab Clinic
				strong MC
			ul.list-unstyled.components
				li.active
					a.dropdown-toggle(href="#homeSubmenu" data-toggle="collapse" aria-expanded="false")
						i.fas.fa-home
						| Home
					ul#homeSubmenu.collapse.list-unstyled
						li
							a(href="#") Home 1
						li
							a(href="#") Home 2
						li
							a(href="#") Home 3
				li
					a(href="#")
						i.fas.fa-briefcase
						| About
					a.dropdown-toggle(href="#pageSubmenu" data-toggle="collapse" aria-expanded="false")
						i.fas.fa-copy
						| Pages
					ul#pageSubmenu.collapse.list-unstyled
						li
							a(href="#") Page 1
						li
							a(href="#") Page 2
						li
							a(href="#") Page 3
				li
					a(href="#")
						i.fas.fa-paper-plane
						| Contact
			ul.list-unstyled.CTAs
				li
					a.download(href="") Download source
				li
					a.article(href="") Back to article
		// Page Content
		#content
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container-fluid
					button#sidebarCollapse.btn.btn-info(type="button")
						i.fas.fa-align-left
						span Toggle Sidebar
					button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
						i.fas.fa-align-justify
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				#navbar-list-4.collapse.navbar-collapse
					ul.navbar-nav
						li.nav-item.dropdown
							a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
								img.profile-pic(src='/images/profile.png', alt='user')
							.dropdown-menu.dropdown-menu-right.scale-up
								a.dropdown-item(href="#") Dashboard
								a.dropdown-item(href="#") Edit Profile
								a.dropdown-item(href="/logout") Log Out
			block content
	script.
		window.onload = function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
		};