doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='rumman <alkami778@gmail.com>')
        title Apply - Medilab+ Clinic
        link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/theme.css', rel='stylesheet')
        link(href='/css/colors/purple-dark.css', rel='stylesheet')
        link(href='/assets/toastr/toastr.min.css', rel='stylesheet')
        link(href='/css/common.css', rel='stylesheet')
        link(href='/css/login.css', rel='stylesheet')

    body
        .wrapper
            .container
                h1.text-white.font-weight-bold Medilab+ Clinic
                form#applyForm.form-horizontal.form-material.bg-light.shadow.p-md-5.p-4.mx-3.mx-md-auto(action='/apply', novalidate='', method='post', accept-charset='utf-8' )
                    h3.box-title.m-b-15 Sign Up
                    .form-group
                        .col-6
                            input.form-control(type='text' placeholder='Enter Name' required name='name')
                    .form-group
                        .col-12
                            input.form-control.checkUserAllEmail(placeholder='Enter Email' name='email' type='email' required data-rule-checkUserEmailAvailability='all')
                    .form-group
                        .col-12
                            input.form-control(type='password' placeholder='Password' name='password' required minlength='4')
                    .form-group
                        .col-12
                            label.form-control(for='designation') Designation
                            select#designation.form-control(name='designation')
                                option(value='doctor') Doctor
                                option(value='receptionist') Receptionist
                                option(value='laboratorist') Laboratorist
                                option(value='pharmacist') Pharmacist
                    .form-group.text-center.m-t-20
                        .col-xs-12
                            button.btn.btn-lg.btn-block.text-uppercase.waves-effect.waves-light.loginBtn(type='submit' )
                                b Apply
                    .form-group.m-b-0
                        .col-sm-12.text-center.text-dark
                            | Already have an account?
                            a.text-info.m-l-5(href='/login')
                                b Log In
            ul.bg-bubbles
                li
                li
                li
                li
                li
                li
                li
                li
                li
                li
        script(src='/plugins/jquery/jquery.min.js')
        script(src='/plugins/popper/popper.min.js')
        script(src='/plugins/bootstrap/js/bootstrap.min.js')
        script(src='/plugins/slimScroll/jquery.slimscroll.js')
        script(src='/js/theme.js')
        // Page JS
        script(src="/plugins/jquery-validation/jquery.validate.min.js")
        script(src="/plugins/jquery-validation/additional-methods.min.js")
        script(src='/plugins/toastr/toastr.min.js')
        script(src='/plugins/pace/pace.min.js')
        script(src='/js/scripts.js')
        script.
