extends ../layout/layout
block content
    .content-wrapper
        section.content-header
            .header-icon
            .header-title
                h4 Advice
        .content
            .col-sm-12.col-md-12
                .card
                    .card-header
                        | Create New Advice
                        .card-body
                            form(action='/doctor/advice' method='post')
                                .row
                                    .col-md-6
                                        .form-group
                                            input.form-control(type="text" name="name" placeholder="Name..." value="" required="")
                                    .col-md-6
                                        .form-group
                                            input.form-control(type="text" name="note" placeholder="Note..." value="")
                                button.btn.btn-success(type="submit") Create
                .panel.panel-bd
                    .panel-heading
                        .panel-title
                            br
                            h4 All Advices
                    .panel-body
                        .table-responsive
                            table#adviceTable.table.table-bordered.table-striped.table-hover
                                thead
                                    tr
                                        th SL
                                        th Name
                                        th Note
                                        th Action
                                tbody
                                each ad, i in advices.advice
                                    tr
                                        td !{i+1}
                                        td !{ad.name}
                                        td !{ad.note}
                                        td
                                            a(onclick="return confirm('Are you sure ?');" href="/doctor/adviceEdit/"+ ad._id)
                                                button.btn.btn-success EDIT
                                            a(onclick="return confirm('Are you sure ?');" href="")
                                                button.btn.btn-danger DELETE