extends ../layout/layout
block content
    .content-wrapper
        section.content-header
            .header-title
                h4.text-center.cover Prescription
        .content
            .panel-body
                form(action="" method="POST")
                    .row
                        .col-3
                            input#num.form-control(readonly="" type="text" name="prescribe-num" value="" required="")
                        .col-9
                            input.form-control.p_name(type="text" placeholder="Name..." name="patient_name" value="" required="")
                        .clearfix.col-md-12
                            br
                        .col-md-3
                            input.form-control#datepicker(type="text" placeholder="Date.." name="prescribe-date" required="")
                        .col-md-3
                            input.form-control(type="text" placeholder="Age..." name="patient_age" value="" required="")
                        .col-md-3
                            select#gender.form-control(name="gender" required="")
                                option(value="") Gender
                                option(value="male") Male
                                option(value="female") Female
                        .col-md-3
                            input#mobile.form-control(type="text" placeholder="Mobile Number..." name="patient_mobile" value="")
                    .col-md-12.clearfix
                        br
                    .left-section
                        .row
                            .col-md-4
                                .sidebar
                                    .trit-section
                                        h4.cover
                                            | Treatment
                                            span.float-right.addMoreTreat
                                                i.fa.fa-plus
                                        .row
                                            .col-md-4
                                                .form-group
                                                    select.form-control.select2(name="treatment_name[]")
                                                        option(value="") Select
                                            .col-md-8
                                                .form-group
                                                    input.form-control.serial_num(type="text" name="patient_desease_code[]" placeholder="Treatment Note..")
                                        .single-item
                                    .clearfix.col-md-12

                                    .advice-section
                                        h4.cover
                                            | Advice
                                            span.float-right.addMoreAdvice
                                                i.fa.fa-plus
                                        .row
                                            .col-md-4
                                                .form-group
                                                    select.form-control.select2(name="advice_name[]")
                                                        option(value="") Select
                                            .col-md-8
                                                .form-group
                                                    input.form-control.serial_num(type="text" name="patient_desease_code[]" placeholder="Advice notes")
                                        .single-item
                                    .clearfix.col-md-12
                            .col-md-8
                                .medi-section
                                    h4.cover
                                        | Medicine
                                        span.float-right.addMoreMedicine
                                            i.fa.fa-plus
                                    .row
                                        .col-md-2
                                            .form-group
                                                select#type.form-control.select2(name="medicine_continue[]" required="")
                                                    option(value="1") Tab
                                                    option(value="2") Cap
                                                    option(value="3") Syp
                                        .col-md-4
                                            .form-group
                                                select.form-control.select2(name="medicine_name[]" required="")
                                                    option(value="") Medicine
                                        .col-md-3
                                            .form-group
                                                select.form-control.select2(name="medicine_note[]")
                                                    option(value="") Note
                                        .col-md-3
                                            .form-group
                                                select.form-control.select2(name="medicine_take_slot[]" required="")
                                                    option(value="") Slot
                                        .col-md-12
                                            input.form-control.take_note(type="text" name="medicine_take_note[]" placeholder="Note...")
                                            hr
                                    .single-item
                                        .clearfix.col-md-12

            .repeat-section(style="display:none;")
                .treatment-repeat
                    .clearfix
                        .row
                            .col-md-4
                                .form-group
                                    select.form-control(name="treatment_name[]")
                                        option(value="") Select
                            .col-md-7
                                .form-group
                                    input.form-control.serial_num(type="text" placeholder="Treatment Note.." name="patient_desease_code[]")
                            .col-md-1
                                .form-group.close
                                    i.fa.fa-times.close-item
                .advice-repeat
                    .clearfix
                        .row
                            .col-md-4
                                .form-group
                                    select.form-control.select2(name="advice_name[]")
                                        option(value="") Select
                            .col-md-7
                                .form-group
                                    input.form-control.serial_num(type="text" name="patient_desease_code[]" placeholder="Advice notes")
                            .col-md-1
                                .form-group.close
                                    i.fa.fa-times.close-item
                .medicine-repeat
                    .clearfix
                        .col-md-12
                            .row
                                .col-md-2
                                    .form-group
                                        select#type.form-control.select2(name="medicine_continue[]" required="")
                                            option(value="1") Tab
                                            option(value="2") Cap
                                            option(value="3") Syp
                                .col-md-4
                                    .form-group
                                        select.form-control.select2(name="medicine_name[]" required="")
                                            option(value="") Medicine
                                .col-md-3
                                    .form-group
                                        select.form-control.select2(name="medicine_note[]")
                                            option(value="") Note
                                .col-md-3
                                    .form-group
                                        select.form-control.select2(name="medicine_take_slot[]" required="")
                                            option(value="") Slot
                                .col-md-11
                                    input.form-control.take_note(type="text" name="medicine_take_note[]" placeholder="Note...")
                                    hr
                                .col-md-1
                                    .form-group.close
                                        i.fa.fa-times.close-item
    script.
        $("#datepicker").datepicker().datepicker("setDate", new Date());

        //treatment
        $('.addMoreTreat').click(function () {
            var repeat_HTML = $('.repeat-section .treatment-repeat').html();
            $('.trit-section .single-item').append(repeat_HTML);
            setTimeout(function () {
                $('.addMoreTreat').parent().parent().parent().find('select').select2();
            }, 1000);
        });

        $(document).on('click', 'i.close-item', function () {
            $(this).parent().parent().parent().remove();
        });

        //advice
        $('.addMoreAdvice').click(function () {
            var repeat_HTML = $('.repeat-section .advice-repeat').html();
            $('.advice-section .single-item').append(repeat_HTML);
            setTimeout(function () {
                $('.addMoreAdvice').parent().parent().parent().find('select').select2();
            }, 1000);
        });

        $(document).on('click', 'i.close-item', function () {
            $(this).parent().parent().parent().remove();
        });

        //medicine
        $('.addMoreMedicine').click(function () {
            var repeat_HTML = $('.repeat-section .medicine-repeat').html();
            $('.medi-section .single-item').append(repeat_HTML);
            setTimeout(function () {
                $('.addMoreMedicine').parent().parent().parent().find('select').select2();
            }, 1000);
        });

        $(document).on('click', 'i.close-item', function () {
            $(this).parent().parent().parent().remove();
        });